{# 详情页,列表页 #}
{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
        {% block row %} {% endblock row %}
        <!-- /container -->
        </div>

    </div>
    <!-- /SECTION -->

    <!-- NEWSLETTER -->

    <!-- SECTION 同款-->
    {% block same_type %}
    {% endblock %}
    <!-- /SECTION -->

    <!-- SECTION 新款-->
    {% block new_type %}{% endblock %}
    <!-- /SECTION -->

    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->

{% endblock body %}




{% block bottomfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}